astroid==2.4.2
cffi==1.14.0
click==8.0.1
cryptography==39.0.1
greenlet==1.1.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
passgen==1.1.1
psycopg2-binary==2.8.6
pycparser==2.20
python-dotenv==0.14.0
six==1.15.0
SQLAlchemy==1.4.25
toml==0.10.1
typer==0.4.0
wrapt==1.12.1
pyperclip
